<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://functions-yamd.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2f35d25b-ef92-4534-915a-9130530110fc/resourceGroups/resourcegroup-yamd/providers/Microsoft.Web/sites/functions-yamd</ResourceId>
    <UserName>$functions-yamd</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functions-yamd.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>