/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";

$color-primary: map-get($mat-pink, 500);
$color-background: map-get($mat-dark-theme-background, background);

html, body {

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $color-background;
}
